.LeftBar {
  display: flex;
  background-color: #f1e0c5;
  justify-content: center;
  font-family: "Roboto";
  color: #342a21;
  font-weight: bold;
  font-size: x-large;
  height: 100%;
}

.fullView {
  height: 90%;
}

.RightBar {
  height: 100%;
}

.imagesDisplay {
  width: auto;
  height: auto;
  max-height: 90%;
  padding-bottom: 2%;
  overflow-y: auto !important;
}

.IconCards {
  height: 20%;
  margin-bottom: 10%;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.IconCards:hover {
  background-color: #c9b79c !important;
  cursor: pointer;
}

.clothItem {
  margin-bottom: 10%;
  margin-top: 10%;
  text-decoration: underline;
  text-decoration-thickness: 15%;
  text-decoration-color: white;
}

.check-icon {
  position: absolute;
  top: 10px; /* Adjust this value as needed to position the icon */
  right: 10px; /* Adjust this value as needed to position the icon */
  display: none;
  background-color: #71816d;
  width: 15%;
  height: 15%;
  border-radius: 50%;
  padding-left: 3%;
  padding-top: 3%;
  justify-content: center;
  align-items: center;
}

.cloth-icon {
  position: relative;
  height: 100%;
  width: 100%;
  align-self: center;
}

.newOutfitButton {
  background-color: #71816d;
  text-decoration: none;
}

.newOutfitButton:hover {
  background-color: #342a21;
}

.newOutfitButton:disabled {
  background-color: #342a21;
}
