@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@font-face {
    font-family: 'Lemands';
    src: url('./fonts/lemands/Lemands.ttf');
}

.landing {
    background-color: hsl(37, 61%, 86%) !important;
    height: 100vh;

}

.right-btn {
    display: flex;
    justify-content: flex-end;
    width: 1100px;
}

.title {
    color: white;
    margin-left: 5%;
    font-family: 'Lemands';
    font-size: 400%;
    text-shadow: -3px 2px 0px #71816D;
}

#navBarGroup{
    padding: 5%;
}
.navButton{
    color: white;
    font-style: italic;
    text-decoration: underline;
}

.navButton :hover{
    color: #71816D
}

.title :hover{
    color: #71816D;
}

.bodyText{
    font-family: 'Roboto';
}

.landing-card {
    background-color: #c9b79c;
    border: #000000;
    width: 80%;
    height: 350px;
    margin: 0px;
    align-items: center;
    border-radius: 15px;
  }

.landing-text {
    padding-top: 4%;
    padding-bottom: 2%;
    text-align: center;
    justify-content: center;
    display:flex;
}

.image-holder {
    flex: 10;
    border-radius: 15px;
    margin-top: 5%;
}

.landing-card-container {
    padding-left: 7%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    align-items: center;
    justify-content: center;
}