@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@font-face {
  font-family: "Lemands";
  src: url("./fonts/lemands/Lemands.ttf");
}

body {
  background: white;
}

#sideBar {
  background: #c9b79c;
  /* min-height: 100vh; */
  /* padding-left: 5%; */
  /* padding-top: 5%; */
  justify-content: center;
  align-items: center;
  /* flex: 1; */
}

#signupButton {
  background: white;
  font-style: italic;
  font-size: 3vh;
  color: #c9b79c;
  font-weight: bolder;
  border-radius: 25px;
  border-color: white;
  width: fit-content;
  padding: 1% 5%;
  white-space: nowrap; /* Add this line */
  margin: 20px;
}

#rightBar {
  background: #f1e0c5;
  justify-content: center;
  align-content: center;
  /* min-height: 100vh; */
  /* padding-top: 10%; */
  /* flex: 2; */
}

#loginHeader {
  font-size: 300%;
}

#login {
  border-radius: 25px;
}
#password {
  border-radius: 25px;
}

#loginButton {
  width: fit-content;
  border-radius: 25px;
  background: #342a21;
  border: none;
  font-weight: bold;
  padding: 1% 5%;
  /* margin: 0 0 5% 0; */
}

.loginButton :hover {
  background-color: #f1e0c5;
  color: #342a21;
}

#formInput {
  /* margin: 10% 0 10% 0; */
}

.formPart {
  /* padding: 2%; */
}
.h1 {
  font-family: "Lemands";
  /* scale fontsize with screen size */
  font-size: 600%;
  color: white;
  text-shadow: -3px 2px 0px #71816d;
}

.h2 {
  font-family: "Lemands";
  text-align: center;
  padding: 5% 0 0 0;
}

.loginCard {
  background: white;
  height: auto;
  justify-content: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.rightColumn {
  width: 100%;
  background-color: #f1e0c5;
  flex: 1;
}
